.welcome-title {
  margin: 72px 0 95px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.welcome-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
  background: transparent;
  border: none;
  text-align: center;
  margin-bottom: 20px;
}

.welcome-link_red {
  color: #EE3465;
}

.profile__form {
  margin: 30px auto 0;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__form-input{
  margin: 0;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #424242;
}

.profile__form-input_border {
  border-bottom: 1px solid #424242;
}

.profile__form-text {
  margin: 10px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  height: 40px;
  border: none;
  background: transparent;
  box-sizing: border-box;
  padding: 10px 0 0;
  color: #CCCCCC;
}

.profile__form-text_input {
  text-align: end;
}

.profile__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 190px 0 45px;
}


@media screen and (max-width: 500px) {
  .profile__form-text {
    font-size: 11px;
    line-height: 13px;
  }
  .welcome-link {
    font-size: 12px;
    line-height: 15px;
  }
  .profile__form {
    max-width: 260px;
  }
}
