.searchForm {
    margin: 0;
    padding: 0 ;
    margin-top: 70px;
    width: 100%;
}

.searchForm__nav {
    margin: 0 69px  15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #424242;;
    width: 89%;
    padding: 0;
    padding-bottom: 15px;
}

.searchForm__icon {
    margin: 0;
    padding: 0;
}

.searchForm__icon-search{
    margin: 0;
}

.searchForm__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #8B8B8B;
}

@media screen and (max-width: 768px) {
    .searchForm {
        margin-top: 85px;
    }
    .searchForm__nav {
        margin: 0 45px  15px;
    }
}

@media screen and (max-width: 400px) {
    .searchForm__icon-search {
        display: none;
    }
    .searchForm__title {
        font-size: 18px;
        line-height: 22px;
    }
    .searchForm__nav {
        margin: 0 20px 15px;
    }
}