.header {
    margin: 0;
    padding: 0 ;
    width: 100%;
    background-color: #073042;
}

@media screen and (max-width: 400px) {
    .header {
        margin: 0px;
    }
}

.header__logo {
    margin: 18px 70px;
    max-width: 38px;
}


.header__link {
    margin: 0;
    opacity: 1.0;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: black;
}

.header__link_reg {
    color: #FFFFFF;
    margin-top: 30px;
}


.header__link:hover {
    opacity: 0.6;
}

.header__nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.header__nav_right {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

  .header__button {
    margin: 21px 70px 21px 30px;
    background-color: #3DDC84;
    border: none;
    border-radius: 3px;
    padding: 8px 20px;
    text-align: center;
  }


  @media screen and (max-width: 950px) {
    .header__logo {
        margin-left: 25px;
    }
}

@media screen and (max-width: 770px) {
    .header__button {
        margin-right: 30px;
    }
}

@media screen and (max-width: 400px) {
    .header__logo {
        margin-bottom: 25px;
        max-width: 105px;
    }
}