.filterCheckbox {
  margin: 0 auto;
  padding: 0 ;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}


.filterCheckbox__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.filterCheckbox__tumbler-active {
  margin: 0;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  background-color:transparent;
  background-image: url(../../images/smalltumb.svg);
  opacity: 1.0;
  background-position: center center;
  background-repeat: no-repeat;
  width: 27px;
  background-size: 22px;
}

.filterCheckbox__tumbler-disactive {
    margin: 0;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    background-color:transparent;
    background-image: url(../../images/smalltumboff.svg);
    opacity: 1.0;
    background-position: center center;
    background-repeat: no-repeat;
    width: 27px;
    background-size: 22px;
  }

@media screen and (max-width: 400px) {
  .filterCheckbox__title {
    font-size: 11px;
    line-height: 18px;
  }
}