body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.page {
  min-width: 320px;
  /* выше установлена минимальная ширина страницы с учетом внутренних отступов */
    /* и чтобы не было горизонтального скролла на мобильных разрешениях */
  max-width: 1280px;
  /* выше установили ограничение по максимальной ширине с учетом внутренних */
  /* отступов (по 200px с каждой стороны)*/
  margin: 0 auto 0;
  /* выше для экранов больше 1280px отцентрировали весь контент */
  padding: 0;
  font-family: Inter, Arial, sans-serif;
}


@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);
/* block "header" */
@import url(./components/Header/Header.css);
/* block "promo" */
@import url(./components/Promo/Promo.css);
/* block "NavTab" */
@import url(./components/NavTab/NavTab.css);
/* block "AboutProject" */
@import url(./components/AboutProject/AboutProject.css);
/* block "Techs" */
@import url(./components/Techs/Techs.css);
/* block "AboutMe" */
@import url(./components/AboutMe/AboutMe.css);
/* block "Portfolio" */
@import url(./components/Portfolio/Portfolio.css);
/* block "Footer" */
@import url(./components/Footer/Footer.css);
/* block "HeaderMovies" */
@import url(./components/HeaderMovies/HeaderMovies.css);
/* block "SearchForm" */
@import url(./components/SearchForm/SearchForm.css);
/* block "FilterCheckbox" */
@import url(./components/FilterCheckbox/FilterCheckbox.css);

